In [ ]:
#My assignment

In [3]:
#NO 1
d = "My py program"
for i in d:
    print(i)

M
y

p
y

p
r
o
g
r
a
m

In [ ]:
#NO 2

In [ ]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple
#of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
#comma-separated sequence on a single line

In [22]:
a = 3200
b = 2000
c = []
for i in range(2000, 3200):
    if (i%7 == 0) and (i%5 == 0):
        c.append(str(i))

print(",".join(c))     ##join() to join a string

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [ ]:
#Write a Python program to accept the user's first and last name and then getting them printed in
#the the reverse order with a space between first name and last name.

In [2]:
firstname = input("Write your first name: ")
#print("your first name is: ", firstname)
lastname = input("Write your last name: ")
#print("your last name is: ", lastname)
#print(firstname + " " + lastname)
print(lastname + " " + firstname) #name in reverse order

Write your first name: Ayinde
Write your last name: oluwaseun
oluwaseun Ayinde

In [ ]:
#Write a Python program to find the volume of a sphere with diameter 12 cm.
#Formula: V=4/3 * π * r 3

In [7]:
d = 12
r = d/2
π = 3.14
print("The volume of a sphere is: ",(float(4/3 * π * r**3)))

The volume of a sphere is:  904.3199999999999

In [ ]:
#task 2

In [ ]:
#Write a program which accepts a sequence of comma-separated numbers from console and
#generate a list.

In [39]:
a = input("Write out a list of numbers separated with commas: ")
print(a.split(',')) #split() to split a string

Write out a list of numbers separated with commas: 23,34,45,67,78
['23', '34', '45', '67', '78']

In [ ]:
#Create the below pattern using nested for loop in Python.

In [58]:
a = int(input("Write out the maxinum of asterisks you wants it to appear: "))
for i in range(0,a):
    for j in range(0,i + 1):
        print("*",end = " ")
    print("\r")
for i in range(a,0,-1):
    for j in range(i,0,-1):
        print("*",end = " ")
    print("\r")

Write out the maxinum of asterisks you wants it to appear: 5
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Write a Python program to reverse a word after accepting the input from the user

In [76]:
a = input("Write out the word you want to reverse: ")
for i in range(len(a)-1,-1,-1):
    print(a[i], end=' ')

Write out the word you want to reverse: AcadGild
d l i G d a c A

#WE, THE PEOPLE OF INDIA,
         having solemnly resolved to constitute India into a SOVEREIGN, !
             SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
              and to secure to all its citizens

In [80]:
print("WE THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens")

WE THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens

In [2]:
pwd

'C:\\Users\\Rhikke'